<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- CSS only -->
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet"/>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script crossorigin="anonymous" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" rel="stylesheet"/>
  <script src="/js/roomlist/bootstrap-show-password.min.js"></script>
  <script src="/js/roomlist/roomlist.js"></script>
  <style>
    a {
      text-decoration: none;
    }

    #table {
      margin-top: 40px;
    }

    h2 {
      margin-top: 40px;
    }

    input#maxUserCnt {
      width: 160px;
    }

    span.input-group-text.input-password-hide {
      height: 40px;
    }

    span.input-group-text.input-password-show {
      height: 40px;
    }

  </style>
</head>
<body>
<div class="container">
  <div class="container">

    <h2>채팅방 리스트</h2>
    <table class="table table-hover" id="table">
      <tr>
        <th scope="col">채팅방명</th>
        <th scope="col">잠금 여부</th>
        <th scope="col">참여 인원</th>
        <th scope="col">채팅방 설정</th>
      </tr>
      <th:block th:fragment="content">

        <tr th:each="room : ${list}">
          <span class="hidden" th:id="${room.roomName}"></span>
          <td th:if="${room.secretChk}">
            <a href="#enterRoomModal" data-bs-toggle="modal" data-target="#enterRoomModal" th:data-id="${room.roomId}">[[${room.roomName}]]</a>
          </td>
          <td th:if="${!room.secretChk}">
            <!-- thymeleaf 의 변수를 onclick 에 넣는 방법 -->
            <a th:href="@{/chat/room(roomId=${room.roomId})}" th:roomId="${room.roomId}" onclick="return chkRoomUserCnt(this.getAttribute('roomId'));">[[${room.roomName}]]</a>
          </td>
          <td>
                        <span th:if="${room.secretChk}">
                            🔒︎
                        </span>
          </td>
          <td>
            <span class="badge bg-primary rounded-pill">[[${room.userCount}]]/[[${room.maxUserCnt}]]</span>
          </td>
          <td>
            <button class="btn btn-primary btn-sm" id="configRoom" data-bs-toggle="modal" data-bs-target="#confirmPwdModal" th:data-id="${room.roomId}">채팅방 설정</button>
          </td>
        </tr>
      </th:block>

    </table>
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#roomModal">방 생성</button>

  </div>
</div>

<div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">채팅방 생성</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="/chat/createroom" onsubmit="return createRoom()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="roomName" class="col-form-label">방 이름</label>
            <input type="text" class="form-control" id="roomName" name="roomName">
          </div>
          <div class="mb-3">
            <label for="roomPwd" class="col-form-label">방 설정 번호(방 삭제시 필요합니다)</label>
            <div class="input-group">
              <input type="password" name="roomPwd" id="roomPwd" class="form-control" data-toggle="password">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-eye"></i></span>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="maxUserCnt" class="col-form-label">채팅방 인원 설정(미체크 시 기본 100명)
              <input class="form-check-input" type="checkbox" id="maxChk"></label>
            <input type="text" class="form-control" id="maxUserCnt" name="maxUserCnt" value="100">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="secret">
            <input type="hidden" name="secretChk" id="secretChk" value="">
            <label class="form-check-label" for="secret">
              채팅방 잠금
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="방 생성하기">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="enterRoomModal" tabindex="-1" aria-labelledby="enterRoomModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">채팅방 비밀번호를 입력해주세요</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="roomName" class="col-form-label">방 비밀번호</label>
          <div class="input-group">
            <input type="password" name="roomPwd" id="enterPwd" class="form-control" data-toggle="password">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-eye"></i></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="enterRoom()">입장하기</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="confirmPwdModal" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">채팅방 설정을 위한 패스워드 확인</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="confirmPwd" class="col-form-label" id="confirmLabel">비밀번호 확인</label>
        <div class="input-group">
          <input type="password" name="confirmPwd" id="confirmPwd" class="form-control" data-toggle="password">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-eye"></i></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="configRoomBtn" class="btn btn-primary disabled" data-bs-target="#configRoomModal" data-bs-toggle="modal" aria-disabled="true">채팅방 설정하기</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="configRoomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">채팅방 설정</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="chPwd" class="col-form-label">비밀번호 변경</label>
          <div class="input-group">
            <input type="password" name="confirmPwd" id="chPwd" class="form-control" data-toggle="password">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-eye"></i></span>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="chRoomName" class="col-form-label">채팅방 이름 변경</label>
          <input type="text" class="form-control" id="chRoomName" name="chRoomName">
        </div>
        <div class="mb-3">
          <label for="chRoomUserCnt" class="col-form-label">채팅방 인원 변경</label>
          <input type="text" class="form-control" id="chRoomUserCnt" name="chUserCnt">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="chSecret">
          <input type="hidden" name="secretChk" id="chSecretChk" value="">
          <label class="form-check-label" for="secret">
            채팅방 잠금
          </label>
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-primary" onclick="delRoom()">방 삭제</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
